@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* NavBar calsses */

.navbar {
  @apply flex w-full px-10 lg:px-20 py-5 justify-between items-center border-b border-opacity-30 border-secondary bg-[rgba(28,28,28,0.60)] backdrop-blur-[20px] fixed top-0 z-20
}

.navbar-link {
  @apply flex h-8 p-1 justify-center items-center gap-1 hover:text-link-green active:text-link-green 
}

.services-menu {
  @apply p-8 items-center gap-8 bg-[rgb(28,28,28)] backdrop-blur-[20px] border border-opacity-30 border-secondary
}

.button {
  @apply text-white rounded-[32px] border border-white border-solid py-4 px-8 hover:text-link-green hover:border-link-green 
}

.primary-button {
  @apply bg-cta-gradient rounded-[32px] py-4 px-8 border border-primary border-solid font-bold hover:bg-none hover:border hover:border-solid hover:border-link-green hover:text-link-green;
}

.card {
  @apply rounded-[1.25rem] border border-[rgba(172,172,172,0.15)];
}

.footer-title {
  @apply text-white text-[1rem] font-medium leading-normal
}

.footer-link {
  @apply text-white text-[1.5rem] font-semibold leading-normal hover:text-link-green
}

.footer-small-link {
  @apply hover:text-link-green
}


/* Blurred circle */

.circle {
  @apply w-[47.3125rem] h-[47.3125rem] bg-[rgba(34,139,34,0.12)] rounded-full blur-[100px]
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}